body {
  background: linear-gradient(to bottom,#49d5ff46, #ffffff, #49d5ff46);
  display: flex;
  height: 100vh; /* Ensure the body covers the entire viewport height */
  margin: 0; /* Remove default margin */
  max-width: 767px;
  font-size: 14px;
}
.profile-section {
  background-image: url(https://i.imgur.com/nkWVIVf.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#name{
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.profile-picture{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pp {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  margin: auto;
  margin-top: 60px;
  margin-bottom: 10px;
}
.hlp {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.tp {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.mp {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.mv {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.fullscreen-img, .fullscreen-video {
  cursor: pointer;
}

.fullscreen-view, .fullscreen-view-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: none;
  justify-content: center;
  align-items: center;
}
.fullscreen-view img, .fullscreen-view video {
  max-width: 100%;
  max-height: 100%;
}

#photos, #tributes, .profile-title {
  text-align: center;
}
#life, #ode {
  
}
#ode p, #life p {
  text-align: justify;
}
.profile-title h2 {
  font-size: 27px;
  margin-bottom: 10px;
}
.profile-title h6 {
  font-size: 16px;
  margin-bottom: 30px;
}
#ode, #photos, #tributes p {
  margin-bottom: 0;
}
.tab-content {
  padding: 10px;
}
.nav-item a {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.nav-tabs {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.photo {
  padding: 10px;
}

.media-container, .tributes-container {
  max-width: 320px;
  margin: 0 auto; /* Center the container */
}
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
}

.column video::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 35px;
  border-color: transparent transparent transparent white;
}

.column img, .column video {
  margin-bottom: 10px; /* Add some space between images */
  margin-right: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}